body {
  background-color: #ff0000;
  color: #fff;
}
#clock {
  text-align: center;
  width: 50%;
  position: absolute;
  top: 20%;
  left: 25%;
  
}
#clock {
  margin-top: -20px;
  background-color: rgb(255, 0, 0) ;  
  color: #333;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 0px 80px rgb(0, 0, 0);
  border-radius: 2%;
  margin-top: 0,5%;
}
#clock h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 70px;
  
}
.clock-container {
  display: flex;
  flex-direction: row;
  justify-content: normal;
  align-items: center;
  align-content: center;
}
.clock-items {
  width: 32%;
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  margin-right: 3%;
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
  
}
.clock-items p{
    margin:0;
    padding:0;
    border-radius: 5px;;
}
p{
    text-align: center;
}
#date{
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}